In [124]:
import pandas as pd

HOME_PATH = '/Users/shaynaanderson-hill/medic_mobile/20190402-Data Scientist Interview Exercises Datasets/'

#Load Datasets
assessment_follow_up_df = pd.read_csv(
    HOME_PATH + 'assessment_follow_up.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

assessments_df = pd.read_csv(
    HOME_PATH + 'assessments.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

delivery_df = pd.read_csv(
    HOME_PATH + 'delivery.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

family_survey_df = pd.read_csv(
    HOME_PATH + 'family_survey.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

person_df = pd.read_csv(
    HOME_PATH + 'person.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

pregnancy_df = pd.read_csv(
    HOME_PATH + 'pregnancy.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

pregnancy_visit_df = pd.read_csv(
    HOME_PATH + 'pregnancy_visit.csv',
    header=0, 
    dtype={'width': int, 'column_name': str, 'variable_type': str}
)

In [125]:
#Add table prefixes to avoid confusion
#person_df = person_df.add_prefix('person_')
#family_survey_df = family_survey_df.add_prefix('family_survey_')
assessments_df = assessments_df.add_prefix('assessment_')
assessment_follow_up_df = assessment_follow_up_df.add_prefix('assessment_follow_up_')
pregnancy_df = pregnancy_df.add_prefix('pregnancy_')
pregnancy_visit_df = pregnancy_visit_df.add_prefix('pregnancy_visit_')
delivery_df = delivery_df.add_prefix('delivery_')

In [126]:
#Is the patient_id a foreign key of the person table?
#Cheack a given patient_id
person_df[person_df['person_id'] == '43247b91bca109e83ff8e119daaab050']

,person_id,sex,date_of_birth,hh_id
303943,43247b91bca109e83ff8e119daaab050,female,1989-10-14,49a14e0b378aeaeedc49ae48b3188878

In [127]:
#are CHW workers in the person table?
person_df[person_df['person_id'] == '7f2d25199eef813addb4d9f783b3e075']

,person_id,sex,date_of_birth,hh_id
405957,7f2d25199eef813addb4d9f783b3e075,female,1978-01-20,84fdf7814354c76f8f5478a2492cc957

In [129]:
family_survey_df.columns

Index(['hh_id', 'how_water_treated', 'has_mosquito_net', 'latrine',
       'hand_washing_facilities', 'electricity', 'television', 'cupboard',
       'dvd', 'radio', 'clock', 'floor', 'walls', 'roof', 'fuel', 'toilet',
       'highest_education_achieved', 'wealth_quintile'],
      dtype='object')

In [130]:
#join person and family_survey
person_family_df = pd.merge(person_df, family_survey_df, how='left', left_on=['hh_id'], right_on = ['hh_id'])

In [131]:
person_family_df.columns

Index(['person_id', 'sex', 'date_of_birth', 'hh_id', 'how_water_treated',
       'has_mosquito_net', 'latrine', 'hand_washing_facilities', 'electricity',
       'television', 'cupboard', 'dvd', 'radio', 'clock', 'floor', 'walls',
       'roof', 'fuel', 'toilet', 'highest_education_achieved',
       'wealth_quintile'],
      dtype='object')

In [133]:
#join assessment
person_family_assessments_df = pd.merge(person_family_df, assessments_df,  how='left', left_on=['person_id','hh_id'], right_on = ['assessment_patient_id','assessment_hh_id'], suffixes=('', '_y'))

In [134]:
person_family_assessments_df.columns

Index(['person_id', 'sex', 'date_of_birth', 'hh_id', 'how_water_treated',
       'has_mosquito_net', 'latrine', 'hand_washing_facilities', 'electricity',
       'television', 'cupboard', 'dvd', 'radio', 'clock', 'floor', 'walls',
       'roof', 'fuel', 'toilet', 'highest_education_achieved',
       'wealth_quintile', 'assessment_assessment_id', 'assessment_chw_id',
       'assessment_assessment_date_time_submitted', 'assessment_patient_id',
       'assessment_hh_id', 'assessment_patient_age_in_months',
       'assessment_patient_coughs', 'assessment_patient_diarrhea',
       'assessment_patient_fever', 'assessment_danger_signs',
       'assessment_coughing_duration', 'assessment_diarrhea_duration',
       'assessment_fever_duration', 'assessment_patient_temperature',
       'assessment_mrdt_result', 'assessment_mrdt_source',
       'assessment_treatment_follow_up', 'assessment_referral_follow_up',
       'assessment_gave_cough_syrup', 'assessment_gave_amox',
       'assessment_gave_ors', 'assessment_gave_zinc', 'assessment_gave_al',
       'assessment_al_pack', 'assessment_gave_paracetamol',
       'assessment_treat_for_malaria'],
      dtype='object')

In [135]:
#drop redundant columns
person_family_assessments_df.drop(columns=['assessment_patient_id', 'assessment_hh_id'])

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,assessment_treatment_follow_up,assessment_referral_follow_up,assessment_gave_cough_syrup,assessment_gave_amox,assessment_gave_ors,assessment_gave_zinc,assessment_gave_al,assessment_al_pack,assessment_gave_paracetamol,assessment_treat_for_malaria
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01b2d9e02ca5f10a2acba86599e5e3e2,male,2019-03-31,3b7bddec614cd7f10958666e6ec38abd,filter,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,852d40ef9b32749410683345ef10f15a,female,2015-04-01,525e172401b1989f16627f6b41bf9bc5,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3fb80407a9d29d0f75bd182b3bba3b92,male,2017-05-29,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6024333c435270663752b846531b9827,male,1963-03-30,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,964a0b3d1716828e145df0d28d41bced,male,2019-04-01,c32c3b1423a1ee7ed407e9903488e69e,aqua_tabs,yes,yes,yes,yes,no,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
10,e5703ec2e717347a7075fbab3b4d4132,male,2019-03-31,30d566e1ca8931e9f66a6c57dd4fe495,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,c95d3d6a87a1b4ac63e530fd8b4605a8,male,2019-03-27,73a2089c7b9a4e35a7fb1075ba96bfb8,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,bbf0346d0a17e01dbb8ef258a00d6a23,female,2019-04-01,939caad5166a12aeb7a18d206a126931,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8a47824dc0f605c618f52203472b7abc,male,1954-04-02,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,e56f5223145e7a21653ce4a07201f8e4,female,1997-04-01,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,efb5725925df6b5689b6a715568b8180,female,2009-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2342a0fcb9d05a79aef6cef63b3d2efa,male,2011-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,fb5d5d0e9a0e3badb046dedb7977e1c3,male,2019-03-27,1c4e438ef3d4b6c7d01bb7fb99213506,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0ea30cf7ba01182260fe1f60f72b4e11,female,2019-04-01,5f60f5ab4e133384168fefa418b7e86c,aqua_tabs,yes,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,e86e89a1e2f7bd68983bc8d7e75d192b,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,fa8f23a0b348f1a119a25147ecca4de2,female,2002-06-20,b7be824d546bba06b58f204e1cd8026a,NaN,yes,yes,no,yes,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,112a8803c5d9e33b70ba6c7f1346214f,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,abb8e8bdec68516c4aaee5f441c79d0c,male,2019-03-31,3be9ba82ed8695b663cac2a96dcf9975,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2631697439085ff6ccf8e6c914684fb8,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,9500007066591f42362297968c48440b,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,8559189834f83ab2d2150ad187fd6d23,male,2017-06-01,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,8bb49e4c53fd92290eb8f1e936c4e7d6,female,1989-03-31,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,b23d6f958ec303664dd43b1f8df3cc7c,female,2001-03-31,b7322531dd60033963660b3a6c1267ae,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,b8b14c95e637a4832582756eb756d4e7,female,2011-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0ec7bb3817115708e0ad1c5631aeb321,male,2015-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981110,fdb46324de0d877a07770276ae5ba882,female,2016-06-27,de362dabb12ef990ae459661243b16f9,aqua_tabs,yes,yes,no,yes,yes,...,True,False,NaN,NaN,NaN,NaN,yes,6.0,no,True
981111,24266e2b0932c7b9d9565f11b8dcbd77,male,1995-07-22,74cb9fd2f5adee4ffd90dfbc96683bc8,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981112,7822790c75399f1fd16e4a3d9f241049,male,2018-07-25,d372e48a737c36495270b6421b0a4a98,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981113,c2b62d33a4d2866b65714e0cb8c17726,female,1997-10-13,e24171d8994a25535374e8756db4db60,NaN,no,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981114,fef44ac58702b6295cf76f66a093b3be,male,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8,aqua_tabs,no,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981115,7fb73f5ecd7cb7bea73cf2ec330f4ffc,female,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8,aqua_tabs,no,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981116,6dbd9b2dafa23b71dfae682b0bb011d7,male,2018-07-03,f8baf95fa3ad97fa348eb7175f3a11f5,aqua_tabs,yes,yes,yes,no,no,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
981117,fd1f39dd53b643d823181a22065a78cb,female,2014-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981118,40f95425b1bab0ca76d009033c65c2ee,female,2013-07-24,843010956960123efd41afb6b5f46643,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981119,be678b21f736b57be049316072f29051,female,2016-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981120,b376b2ba134fc88f8cdd7e48bfff60f8,female,2018-07-23,a7bce8ceaac8389c71e5c7bcea1cc49c,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981121,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,yes,False
981122,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,yes,False
981123,3e1171076457e5bd8c6fbf064cbdfc4c,female,1998-07-22,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981124,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,True,False,yes,NaN,NaN,NaN,NaN,NaN,yes,False
981125,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
981126,9b20603e739e8c693b82b61b174524da,female,2018-07-23,e2626b3b87f46d9b9f26492434606133,NaN,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981127,831a645e15da9e5faabe01c5c06a13ce,female,2018-01-16,612fcbea0d03abc1bd34d090e5025fcc,aqua_tabs,yes,yes,no,no,no,...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,no,False
981128,230ef872393e6b9c044e83e58b453261,female,2014-07-22,da3c387253f3dae0e002975cb0aff0b0,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981129,222af2f40c36573fac66919da166595c,female,2018-05-03,5d3268743163e64cee889d15726e95dc,aqua_tabs,yes,yes,no,no,no,...,False,True,NaN,NaN,NaN,NaN,NaN,NaN,yes,True
981130,48170cd84b1a0d40a12b949e8058f3a0,female,2016-02-08,5d66c7008c474819c28704dd8384d382,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981131,cb2e7fd37c481be4788a2f08f8de3e2b,male,2005-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981132,1092aaf80a5c0bd4a85fa7594a841b88,male,2014-09-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981133,0daa634748fa6e9a961f11fd29f08caf,female,1986-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981134,70fc7f4e95cbead5c1dd22c73442105b,male,2008-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981135,74470deab77d36603078c14fcca8cb50,male,2010-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981136,f030e83a572cf772ead67c700e8cbccc,female,1999-07-15,260c0f3fecec5c3882be5bb15bbdbff6,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981137,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981138,e4363ac55bef767fa7d8174894bd0ae1,male,2012-07-24,e6b46e8046cc61f4b189a05cc0132dd5,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981139,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
#join assessment_follow_up
person_family_assessments_assessment_follow_up_df = pd.merge(person_family_assessments_df, assessment_follow_up_df,  how='left', left_on=['person_id','hh_id', 'assessment_assessment_id'], right_on = ['assessment_follow_up_patient_id','assessment_follow_up_hh_id', 'assessment_follow_up_assessment_id'], suffixes=('', '_y'))

In [137]:
#drop redundant columns
person_family_assessments_assessment_follow_up_df.drop(columns=['assessment_follow_up_patient_id', 'assessment_follow_up_hh_id', 'assessment_follow_up_assessment_id'])

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,assessment_follow_up_assessment_follow_up_date_time_submitted,assessment_follow_up_patient_age_in_months,assessment_follow_up_referral_follow_up_needed,assessment_follow_up_follow_up_count,assessment_follow_up_patient_health_facility_visit,assessment_follow_up_follow_up_type,assessment_follow_up_follow_up_method,assessment_follow_up_danger_signs,assessment_follow_up_patient_improved,assessment_follow_up_patient_better
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01b2d9e02ca5f10a2acba86599e5e3e2,male,2019-03-31,3b7bddec614cd7f10958666e6ec38abd,filter,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,852d40ef9b32749410683345ef10f15a,female,2015-04-01,525e172401b1989f16627f6b41bf9bc5,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3fb80407a9d29d0f75bd182b3bba3b92,male,2017-05-29,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6024333c435270663752b846531b9827,male,1963-03-30,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,964a0b3d1716828e145df0d28d41bced,male,2019-04-01,c32c3b1423a1ee7ed407e9903488e69e,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,e5703ec2e717347a7075fbab3b4d4132,male,2019-03-31,30d566e1ca8931e9f66a6c57dd4fe495,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,c95d3d6a87a1b4ac63e530fd8b4605a8,male,2019-03-27,73a2089c7b9a4e35a7fb1075ba96bfb8,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,bbf0346d0a17e01dbb8ef258a00d6a23,female,2019-04-01,939caad5166a12aeb7a18d206a126931,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8a47824dc0f605c618f52203472b7abc,male,1954-04-02,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,e56f5223145e7a21653ce4a07201f8e4,female,1997-04-01,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,efb5725925df6b5689b6a715568b8180,female,2009-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2342a0fcb9d05a79aef6cef63b3d2efa,male,2011-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,fb5d5d0e9a0e3badb046dedb7977e1c3,male,2019-03-27,1c4e438ef3d4b6c7d01bb7fb99213506,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0ea30cf7ba01182260fe1f60f72b4e11,female,2019-04-01,5f60f5ab4e133384168fefa418b7e86c,aqua_tabs,yes,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,e86e89a1e2f7bd68983bc8d7e75d192b,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,fa8f23a0b348f1a119a25147ecca4de2,female,2002-06-20,b7be824d546bba06b58f204e1cd8026a,NaN,yes,yes,no,yes,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,112a8803c5d9e33b70ba6c7f1346214f,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,abb8e8bdec68516c4aaee5f441c79d0c,male,2019-03-31,3be9ba82ed8695b663cac2a96dcf9975,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2631697439085ff6ccf8e6c914684fb8,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,9500007066591f42362297968c48440b,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,8559189834f83ab2d2150ad187fd6d23,male,2017-06-01,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,8bb49e4c53fd92290eb8f1e936c4e7d6,female,1989-03-31,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,b23d6f958ec303664dd43b1f8df3cc7c,female,2001-03-31,b7322531dd60033963660b3a6c1267ae,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,b8b14c95e637a4832582756eb756d4e7,female,2011-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0ec7bb3817115708e0ad1c5631aeb321,male,2015-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985043,fdb46324de0d877a07770276ae5ba882,female,2016-06-27,de362dabb12ef990ae459661243b16f9,aqua_tabs,yes,yes,no,yes,yes,...,2018-09-01T18:37:11Z,26.0,False,1.0,NaN,treat,in_person,NaN,yes,NaN
985044,24266e2b0932c7b9d9565f11b8dcbd77,male,1995-07-22,74cb9fd2f5adee4ffd90dfbc96683bc8,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985045,7822790c75399f1fd16e4a3d9f241049,male,2018-07-25,d372e48a737c36495270b6421b0a4a98,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985046,c2b62d33a4d2866b65714e0cb8c17726,female,1997-10-13,e24171d8994a25535374e8756db4db60,NaN,no,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985047,fef44ac58702b6295cf76f66a093b3be,male,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8,aqua_tabs,no,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985048,7fb73f5ecd7cb7bea73cf2ec330f4ffc,female,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8,aqua_tabs,no,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985049,6dbd9b2dafa23b71dfae682b0bb011d7,male,2018-07-03,f8baf95fa3ad97fa348eb7175f3a11f5,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985050,fd1f39dd53b643d823181a22065a78cb,female,2014-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985051,40f95425b1bab0ca76d009033c65c2ee,female,2013-07-24,843010956960123efd41afb6b5f46643,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985052,be678b21f736b57be049316072f29051,female,2016-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985053,b376b2ba134fc88f8cdd7e48bfff60f8,female,2018-07-23,a7bce8ceaac8389c71e5c7bcea1cc49c,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985054,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,2018-07-23T05:30:13Z,5.0,False,1.0,yes,treat_refer,in_person,NaN,NaN,yes
985055,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,2018-11-12T13:31:25Z,8.0,False,1.0,yes,treat_refer,in_person,NaN,NaN,yes
985056,3e1171076457e5bd8c6fbf064cbdfc4c,female,1998-07-22,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985057,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,2019-03-17T05:51:47Z,589.0,False,1.0,NaN,treat,in_person,NaN,yes,NaN
985058,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985059,9b20603e739e8c693b82b61b174524da,female,2018-07-23,e2626b3b87f46d9b9f26492434606133,NaN,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985060,831a645e15da9e5faabe01c5c06a13ce,female,2018-01-16,612fcbea0d03abc1bd34d090e5025fcc,aqua_tabs,yes,yes,no,no,no,...,2018-07-26T12:31:27Z,6.0,False,1.0,yes,treat_refer,in_person,NaN,NaN,yes
985061,230ef872393e6b9c044e83e58b453261,female,2014-07-22,da3c387253f3dae0e002975cb0aff0b0,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985062,222af2f40c36573fac66919da166595c,female,2018-05-03,5d3268743163e64cee889d15726e95dc,aqua_tabs,yes,yes,no,no,no,...,2018-08-29T08:58:45Z,3.0,False,1.0,yes,refer_only,in_person,NaN,NaN,yes
985063,48170cd84b1a0d40a12b949e8058f3a0,female,2016-02-08,5d66c7008c474819c28704dd8384d382,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985064,cb2e7fd37c481be4788a2f08f8de3e2b,male,2005-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985065,1092aaf80a5c0bd4a85fa7594a841b88,male,2014-09-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985066,0daa634748fa6e9a961f11fd29f08caf,female,1986-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985067,70fc7f4e95cbead5c1dd22c73442105b,male,2008-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985068,74470deab77d36603078c14fcca8cb50,male,2010-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985069,f030e83a572cf772ead67c700e8cbccc,female,1999-07-15,260c0f3fecec5c3882be5bb15bbdbff6,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985070,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985071,e4363ac55bef767fa7d8174894bd0ae1,male,2012-07-24,e6b46e8046cc61f4b189a05cc0132dd5,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985072,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
#join pregnancy



person_family_assessments_assessment_follow_up_pregnancy_df = pd.merge(person_family_assessments_assessment_follow_up_df, pregnancy_df,  how='left', left_on=['person_id','hh_id'], right_on = ['pregnancy_patient_id','pregnancy_hh_id'])

In [140]:
person_family_assessments_assessment_follow_up_pregnancy_df.drop(columns=['pregnancy_patient_id', 'pregnancy_hh_id'])

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,assessment_follow_up_patient_improved,assessment_follow_up_patient_better,pregnancy_pregnancy_form_id,pregnancy_chw_id,pregnancy_date_time_submitted,pregnancy_patient_age_in_years,pregnancy_last_menstrual_period_date,pregnancy_expected_due_date,pregnancy_danger_signs,pregnancy_risk_factors
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01b2d9e02ca5f10a2acba86599e5e3e2,male,2019-03-31,3b7bddec614cd7f10958666e6ec38abd,filter,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,852d40ef9b32749410683345ef10f15a,female,2015-04-01,525e172401b1989f16627f6b41bf9bc5,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3fb80407a9d29d0f75bd182b3bba3b92,male,2017-05-29,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6024333c435270663752b846531b9827,male,1963-03-30,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,964a0b3d1716828e145df0d28d41bced,male,2019-04-01,c32c3b1423a1ee7ed407e9903488e69e,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,e5703ec2e717347a7075fbab3b4d4132,male,2019-03-31,30d566e1ca8931e9f66a6c57dd4fe495,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,c95d3d6a87a1b4ac63e530fd8b4605a8,male,2019-03-27,73a2089c7b9a4e35a7fb1075ba96bfb8,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,bbf0346d0a17e01dbb8ef258a00d6a23,female,2019-04-01,939caad5166a12aeb7a18d206a126931,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8a47824dc0f605c618f52203472b7abc,male,1954-04-02,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,e56f5223145e7a21653ce4a07201f8e4,female,1997-04-01,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,efb5725925df6b5689b6a715568b8180,female,2009-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2342a0fcb9d05a79aef6cef63b3d2efa,male,2011-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,fb5d5d0e9a0e3badb046dedb7977e1c3,male,2019-03-27,1c4e438ef3d4b6c7d01bb7fb99213506,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0ea30cf7ba01182260fe1f60f72b4e11,female,2019-04-01,5f60f5ab4e133384168fefa418b7e86c,aqua_tabs,yes,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,e86e89a1e2f7bd68983bc8d7e75d192b,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,fa8f23a0b348f1a119a25147ecca4de2,female,2002-06-20,b7be824d546bba06b58f204e1cd8026a,NaN,yes,yes,no,yes,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,112a8803c5d9e33b70ba6c7f1346214f,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,abb8e8bdec68516c4aaee5f441c79d0c,male,2019-03-31,3be9ba82ed8695b663cac2a96dcf9975,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2631697439085ff6ccf8e6c914684fb8,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,9500007066591f42362297968c48440b,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,8559189834f83ab2d2150ad187fd6d23,male,2017-06-01,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,8bb49e4c53fd92290eb8f1e936c4e7d6,female,1989-03-31,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,b23d6f958ec303664dd43b1f8df3cc7c,female,2001-03-31,b7322531dd60033963660b3a6c1267ae,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,b8b14c95e637a4832582756eb756d4e7,female,2011-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0ec7bb3817115708e0ad1c5631aeb321,male,2015-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987474,fdb46324de0d877a07770276ae5ba882,female,2016-06-27,de362dabb12ef990ae459661243b16f9,aqua_tabs,yes,yes,no,yes,yes,...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987475,24266e2b0932c7b9d9565f11b8dcbd77,male,1995-07-22,74cb9fd2f5adee4ffd90dfbc96683bc8,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987476,7822790c75399f1fd16e4a3d9f241049,male,2018-07-25,d372e48a737c36495270b6421b0a4a98,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987477,c2b62d33a4d2866b65714e0cb8c17726,female,1997-10-13,e24171d8994a25535374e8756db4db60,NaN,no,yes,no,no,yes,...,NaN,NaN,44edeb7bcaba71ced2473cc68220692e,94ee299a4a6e1c252dd139589a711dd0,2018-07-25T15:27:25Z,20.0,2018-01-06,2018-10-12,NaN,NaN
987478,fef44ac58702b6295cf76f66a093b3be,male,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8,aqua_tabs,no,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987479,7fb73f5ecd7cb7bea73cf2ec330f4ffc,female,1995-07-24,f9e0fa603dc80a19fc62c1cc4c6cb0e8,aqua_tabs,no,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987480,6dbd9b2dafa23b71dfae682b0bb011d7,male,2018-07-03,f8baf95fa3ad97fa348eb7175f3a11f5,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987481,fd1f39dd53b643d823181a22065a78cb,female,2014-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987482,40f95425b1bab0ca76d009033c65c2ee,female,2013-07-24,843010956960123efd41afb6b5f46643,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987483,be678b21f736b57be049316072f29051,female,2016-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987484,b376b2ba134fc88f8cdd7e48bfff60f8,female,2018-07-23,a7bce8ceaac8389c71e5c7bcea1cc49c,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987485,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987486,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987487,3e1171076457e5bd8c6fbf064cbdfc4c,female,1998-07-22,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987488,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987489,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987490,9b20603e739e8c693b82b61b174524da,female,2018-07-23,e2626b3b87f46d9b9f26492434606133,NaN,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987491,831a645e15da9e5faabe01c5c06a13ce,female,2018-01-16,612fcbea0d03abc1bd34d090e5025fcc,aqua_tabs,yes,yes,no,no,no,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987492,230ef872393e6b9c044e83e58b453261,female,2014-07-22,da3c387253f3dae0e002975cb0aff0b0,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987493,222af2f40c36573fac66919da166595c,female,2018-05-03,5d3268743163e64cee889d15726e95dc,aqua_tabs,yes,yes,no,no,no,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987494,48170cd84b1a0d40a12b949e8058f3a0,female,2016-02-08,5d66c7008c474819c28704dd8384d382,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987495,cb2e7fd37c481be4788a2f08f8de3e2b,male,2005-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987496,1092aaf80a5c0bd4a85fa7594a841b88,male,2014-09-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987497,0daa634748fa6e9a961f11fd29f08caf,female,1986-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987498,70fc7f4e95cbead5c1dd22c73442105b,male,2008-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987499,74470deab77d36603078c14fcca8cb50,male,2010-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987500,f030e83a572cf772ead67c700e8cbccc,female,1999-07-15,260c0f3fecec5c3882be5bb15bbdbff6,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987501,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,a5a88345019695fb3ce65ba521727433,0d56996b3af0dfbb04ee180eb254a7ec,2018-07-25T17:32:58Z,23.0,2018-05-09,2019-02-12,NaN,NaN
987502,e4363ac55bef767fa7d8174894bd0ae1,male,2012-07-24,e6b46e8046cc61f4b189a05cc0132dd5,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987503,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,cf4611d0feb40f15e30209243c491b00,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-07-22T13:34:57Z,20.0,2017-12-22,2018-09-27,NaN,NaN

In [142]:
person_family_assessments_assessment_follow_up_pregnancy_pregnancy_visit_df = pd.merge(person_family_assessments_assessment_follow_up_pregnancy_df, pregnancy_visit_df,  how='left', left_on=['person_id','hh_id'], right_on = ['pregnancy_visit_patient_id','pregnancy_visit_hh_id'])

In [143]:
person_family_assessments_assessment_follow_up_pregnancy_pregnancy_visit_df.drop(columns=['pregnancy_visit_patient_id', 'pregnancy_visit_hh_id'])

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,pregnancy_last_menstrual_period_date,pregnancy_expected_due_date,pregnancy_danger_signs,pregnancy_risk_factors,pregnancy_visit_pregnancy_visit_form_id,pregnancy_visit_chw_id,pregnancy_visit_date_time_submitted,pregnancy_visit_how_visit_conducted,pregnancy_visit_referred_to_health_facility,pregnancy_visit_danger_signs
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01b2d9e02ca5f10a2acba86599e5e3e2,male,2019-03-31,3b7bddec614cd7f10958666e6ec38abd,filter,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,852d40ef9b32749410683345ef10f15a,female,2015-04-01,525e172401b1989f16627f6b41bf9bc5,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3fb80407a9d29d0f75bd182b3bba3b92,male,2017-05-29,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6024333c435270663752b846531b9827,male,1963-03-30,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,964a0b3d1716828e145df0d28d41bced,male,2019-04-01,c32c3b1423a1ee7ed407e9903488e69e,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,e5703ec2e717347a7075fbab3b4d4132,male,2019-03-31,30d566e1ca8931e9f66a6c57dd4fe495,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,c95d3d6a87a1b4ac63e530fd8b4605a8,male,2019-03-27,73a2089c7b9a4e35a7fb1075ba96bfb8,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,bbf0346d0a17e01dbb8ef258a00d6a23,female,2019-04-01,939caad5166a12aeb7a18d206a126931,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8a47824dc0f605c618f52203472b7abc,male,1954-04-02,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,e56f5223145e7a21653ce4a07201f8e4,female,1997-04-01,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,efb5725925df6b5689b6a715568b8180,female,2009-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2342a0fcb9d05a79aef6cef63b3d2efa,male,2011-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,fb5d5d0e9a0e3badb046dedb7977e1c3,male,2019-03-27,1c4e438ef3d4b6c7d01bb7fb99213506,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0ea30cf7ba01182260fe1f60f72b4e11,female,2019-04-01,5f60f5ab4e133384168fefa418b7e86c,aqua_tabs,yes,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,e86e89a1e2f7bd68983bc8d7e75d192b,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,fa8f23a0b348f1a119a25147ecca4de2,female,2002-06-20,b7be824d546bba06b58f204e1cd8026a,NaN,yes,yes,no,yes,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,112a8803c5d9e33b70ba6c7f1346214f,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,abb8e8bdec68516c4aaee5f441c79d0c,male,2019-03-31,3be9ba82ed8695b663cac2a96dcf9975,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2631697439085ff6ccf8e6c914684fb8,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,9500007066591f42362297968c48440b,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,8559189834f83ab2d2150ad187fd6d23,male,2017-06-01,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,8bb49e4c53fd92290eb8f1e936c4e7d6,female,1989-03-31,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,b23d6f958ec303664dd43b1f8df3cc7c,female,2001-03-31,b7322531dd60033963660b3a6c1267ae,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,b8b14c95e637a4832582756eb756d4e7,female,2011-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0ec7bb3817115708e0ad1c5631aeb321,male,2015-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097757,40f95425b1bab0ca76d009033c65c2ee,female,2013-07-24,843010956960123efd41afb6b5f46643,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097758,be678b21f736b57be049316072f29051,female,2016-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097759,b376b2ba134fc88f8cdd7e48bfff60f8,female,2018-07-23,a7bce8ceaac8389c71e5c7bcea1cc49c,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097760,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097761,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097762,3e1171076457e5bd8c6fbf064cbdfc4c,female,1998-07-22,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097763,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097764,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097765,9b20603e739e8c693b82b61b174524da,female,2018-07-23,e2626b3b87f46d9b9f26492434606133,NaN,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097766,831a645e15da9e5faabe01c5c06a13ce,female,2018-01-16,612fcbea0d03abc1bd34d090e5025fcc,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097767,230ef872393e6b9c044e83e58b453261,female,2014-07-22,da3c387253f3dae0e002975cb0aff0b0,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097768,222af2f40c36573fac66919da166595c,female,2018-05-03,5d3268743163e64cee889d15726e95dc,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097769,48170cd84b1a0d40a12b949e8058f3a0,female,2016-02-08,5d66c7008c474819c28704dd8384d382,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097770,cb2e7fd37c481be4788a2f08f8de3e2b,male,2005-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097771,1092aaf80a5c0bd4a85fa7594a841b88,male,2014-09-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097772,0daa634748fa6e9a961f11fd29f08caf,female,1986-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097773,70fc7f4e95cbead5c1dd22c73442105b,male,2008-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097774,74470deab77d36603078c14fcca8cb50,male,2010-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097775,f030e83a572cf772ead67c700e8cbccc,female,1999-07-15,260c0f3fecec5c3882be5bb15bbdbff6,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097776,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,2018-05-09,2019-02-12,NaN,NaN,8ed86f8a3534ba9960e4dc976f8845e5,0d56996b3af0dfbb04ee180eb254a7ec,2019-02-07T14:13:04Z,in_person,False,NaN
1097777,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,2018-05-09,2019-02-12,NaN,NaN,e7eddfe13e9d2f396c86142d24ec0c54,0d56996b3af0dfbb04ee180eb254a7ec,2018-10-26T03:59:01Z,in_person,False,NaN
1097778,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,2018-05-09,2019-02-12,NaN,NaN,9e52d5af2649f1a8964de7069720b58e,0d56996b3af0dfbb04ee180eb254a7ec,2018-08-01T18:41:41Z,in_person,False,NaN
1097779,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,2018-05-09,2019-02-12,NaN,NaN,8ba0b406659fd800fe440923ab2d2f8c,0d56996b3af0dfbb04ee180eb254a7ec,2018-09-26T15:15:38Z,in_person,False,NaN
1097780,e4363ac55bef767fa7d8174894bd0ae1,male,2012-07-24,e6b46e8046cc61f4b189a05cc0132dd5,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097781,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,2017-12-22,2018-09-27,NaN,NaN,310eb83e733924fa728f7194370d2477,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-09-28T15:17:20Z,in_person,False,NaN
1097782,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,2017-12-22,2018-09-27,NaN,NaN,0cd7d3b67318c4fedbce3111832fe01f,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-09-26T18:59:55Z,in_person,False,NaN
1097783,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,2017-12-22,2018-09-27,NaN,NaN,5d7950ae741f15b756bf3b2d10d0a912,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-15T19:39:14Z,in_person,False,NaN
1097784,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,2017-12-22,2018-09-27,NaN,NaN,a419c8141a979df0878e3792b3b08949,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-03T18:44:21Z,phone,False,NaN
1097785,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,2017-12-22,2018-09-27,NaN,NaN,58e7a487f959230c2c226d5eb7c6fd4d,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-09-01T12:28:29Z,in_person,False,NaN
1097786,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,2017-12-22,2018-09-27,NaN,NaN,fd76d6d13f88084e35c8cc5bc1ac3c19,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-09-24T12:36:25Z,in_person,False,NaN

In [144]:
master_df = pd.merge(person_family_assessments_assessment_follow_up_pregnancy_pregnancy_visit_df, delivery_df,  how='left', left_on=['person_id','hh_id'], right_on = ['delivery_patient_id','delivery_hh_id'])

In [145]:
master_df.drop(columns=['delivery_patient_id', 'delivery_hh_id'])

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,pregnancy_visit_hh_id,pregnancy_visit_how_visit_conducted,pregnancy_visit_referred_to_health_facility,pregnancy_visit_danger_signs,delivery_delivery_id,delivery_chw_id,delivery_delivery_date_time_submitted,delivery_facility_delivery,delivery_danger_signs_at_delivery,delivery_first_visit_on_time
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01b2d9e02ca5f10a2acba86599e5e3e2,male,2019-03-31,3b7bddec614cd7f10958666e6ec38abd,filter,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,5de640d325f4106bfb722933a9231cac,a57ae59d0972ebeeae8f25711445199c,2019-04-01T05:44:56Z,True,False,False
6,852d40ef9b32749410683345ef10f15a,female,2015-04-01,525e172401b1989f16627f6b41bf9bc5,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3fb80407a9d29d0f75bd182b3bba3b92,male,2017-05-29,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6024333c435270663752b846531b9827,male,1963-03-30,6c4fa9cd3ba486951035fa35340b35eb,NaN,yes,yes,yes,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,964a0b3d1716828e145df0d28d41bced,male,2019-04-01,c32c3b1423a1ee7ed407e9903488e69e,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,e5703ec2e717347a7075fbab3b4d4132,male,2019-03-31,30d566e1ca8931e9f66a6c57dd4fe495,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,c95d3d6a87a1b4ac63e530fd8b4605a8,male,2019-03-27,73a2089c7b9a4e35a7fb1075ba96bfb8,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,bbf0346d0a17e01dbb8ef258a00d6a23,female,2019-04-01,939caad5166a12aeb7a18d206a126931,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8a47824dc0f605c618f52203472b7abc,male,1954-04-02,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,e56f5223145e7a21653ce4a07201f8e4,female,1997-04-01,fcd2a78b1c5cea70f260123d93192c99,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,efb5725925df6b5689b6a715568b8180,female,2009-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2342a0fcb9d05a79aef6cef63b3d2efa,male,2011-04-01,e3e199740ea60efc7a0fe26e058962af,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,fb5d5d0e9a0e3badb046dedb7977e1c3,male,2019-03-27,1c4e438ef3d4b6c7d01bb7fb99213506,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0ea30cf7ba01182260fe1f60f72b4e11,female,2019-04-01,5f60f5ab4e133384168fefa418b7e86c,aqua_tabs,yes,no,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,e86e89a1e2f7bd68983bc8d7e75d192b,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,fa8f23a0b348f1a119a25147ecca4de2,female,2002-06-20,b7be824d546bba06b58f204e1cd8026a,NaN,yes,yes,no,yes,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,112a8803c5d9e33b70ba6c7f1346214f,female,2019-03-31,c29f7f96757754bd52055939d188227d,boil,no,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,abb8e8bdec68516c4aaee5f441c79d0c,male,2019-03-31,3be9ba82ed8695b663cac2a96dcf9975,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2631697439085ff6ccf8e6c914684fb8,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,9500007066591f42362297968c48440b,male,2019-04-01,0e35fd0cdd8e75591453f0b7aae5fee1,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,8559189834f83ab2d2150ad187fd6d23,male,2017-06-01,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,8bb49e4c53fd92290eb8f1e936c4e7d6,female,1989-03-31,93847939d882ef586770612cc40b1038,boil,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,b23d6f958ec303664dd43b1f8df3cc7c,female,2001-03-31,b7322531dd60033963660b3a6c1267ae,NaN,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,b8b14c95e637a4832582756eb756d4e7,female,2011-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0ec7bb3817115708e0ad1c5631aeb321,male,2015-04-01,654f28b89f002ace05749a03dfa3e2b5,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097757,40f95425b1bab0ca76d009033c65c2ee,female,2013-07-24,843010956960123efd41afb6b5f46643,aqua_tabs,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097758,be678b21f736b57be049316072f29051,female,2016-07-22,800ba8ca582bbe5e6d42e59673c7d529,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097759,b376b2ba134fc88f8cdd7e48bfff60f8,female,2018-07-23,a7bce8ceaac8389c71e5c7bcea1cc49c,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097760,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097761,d6ce975aa4e19ec6822352c715ea6514,male,2018-02-13,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097762,3e1171076457e5bd8c6fbf064cbdfc4c,female,1998-07-22,61a240425e37b8191403317b6ba55f61,boil,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097763,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097764,77b9143d85d5549d568307f81e1aa109,male,1970-01-26,f83ac93456cf269ed47925d18c54618e,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097765,9b20603e739e8c693b82b61b174524da,female,2018-07-23,e2626b3b87f46d9b9f26492434606133,NaN,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097766,831a645e15da9e5faabe01c5c06a13ce,female,2018-01-16,612fcbea0d03abc1bd34d090e5025fcc,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097767,230ef872393e6b9c044e83e58b453261,female,2014-07-22,da3c387253f3dae0e002975cb0aff0b0,aqua_tabs,yes,yes,no,no,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097768,222af2f40c36573fac66919da166595c,female,2018-05-03,5d3268743163e64cee889d15726e95dc,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097769,48170cd84b1a0d40a12b949e8058f3a0,female,2016-02-08,5d66c7008c474819c28704dd8384d382,aqua_tabs,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097770,cb2e7fd37c481be4788a2f08f8de3e2b,male,2005-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097771,1092aaf80a5c0bd4a85fa7594a841b88,male,2014-09-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097772,0daa634748fa6e9a961f11fd29f08caf,female,1986-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097773,70fc7f4e95cbead5c1dd22c73442105b,male,2008-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097774,74470deab77d36603078c14fcca8cb50,male,2010-07-23,46d2f244a9a2980fed0f7b0c927bc1b4,aqua_tabs,yes,yes,no,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097775,f030e83a572cf772ead67c700e8cbccc,female,1999-07-15,260c0f3fecec5c3882be5bb15bbdbff6,aqua_tabs,yes,yes,yes,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097776,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,bfaad047ef5ba976f93511e6ea045afb,in_person,False,NaN,77e5a4b708933ea612e42bd8faf7b353,0d56996b3af0dfbb04ee180eb254a7ec,2019-02-13T12:48:30Z,True,False,True
1097777,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,bfaad047ef5ba976f93511e6ea045afb,in_person,False,NaN,77e5a4b708933ea612e42bd8faf7b353,0d56996b3af0dfbb04ee180eb254a7ec,2019-02-13T12:48:30Z,True,False,True
1097778,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,bfaad047ef5ba976f93511e6ea045afb,in_person,False,NaN,77e5a4b708933ea612e42bd8faf7b353,0d56996b3af0dfbb04ee180eb254a7ec,2019-02-13T12:48:30Z,True,False,True
1097779,31e71170e8af1b630e2bf9a0d0f9f635,female,1995-07-25,bfaad047ef5ba976f93511e6ea045afb,aqua_tabs,yes,yes,no,no,no,...,bfaad047ef5ba976f93511e6ea045afb,in_person,False,NaN,77e5a4b708933ea612e42bd8faf7b353,0d56996b3af0dfbb04ee180eb254a7ec,2019-02-13T12:48:30Z,True,False,True
1097780,e4363ac55bef767fa7d8174894bd0ae1,male,2012-07-24,e6b46e8046cc61f4b189a05cc0132dd5,NaN,yes,yes,yes,no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097781,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,3a44e15ffc1fcc97c4d03bb9a2bdba5c,in_person,False,NaN,f703cd4404206e2c9c403cbbd329eb8e,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-22T13:42:38Z,False,NaN,True
1097782,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,3a44e15ffc1fcc97c4d03bb9a2bdba5c,in_person,False,NaN,f703cd4404206e2c9c403cbbd329eb8e,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-22T13:42:38Z,False,NaN,True
1097783,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,3a44e15ffc1fcc97c4d03bb9a2bdba5c,in_person,False,NaN,f703cd4404206e2c9c403cbbd329eb8e,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-22T13:42:38Z,False,NaN,True
1097784,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,3a44e15ffc1fcc97c4d03bb9a2bdba5c,phone,False,NaN,f703cd4404206e2c9c403cbbd329eb8e,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-22T13:42:38Z,False,NaN,True
1097785,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,3a44e15ffc1fcc97c4d03bb9a2bdba5c,in_person,False,NaN,f703cd4404206e2c9c403cbbd329eb8e,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-22T13:42:38Z,False,NaN,True
1097786,300e11354577e77cf4b1104883769e45,female,1998-07-22,3a44e15ffc1fcc97c4d03bb9a2bdba5c,aqua_tabs,yes,yes,no,no,yes,...,3a44e15ffc1fcc97c4d03bb9a2bdba5c,in_person,False,NaN,f703cd4404206e2c9c403cbbd329eb8e,ee73a02a3d25d82d8d11a2f1e4c2d5b8,2018-10-22T13:42:38Z,False,NaN,True

In [146]:
master_df.head()

,person_id,sex,date_of_birth,hh_id,how_water_treated,has_mosquito_net,latrine,hand_washing_facilities,electricity,television,...,pregnancy_visit_referred_to_health_facility,pregnancy_visit_danger_signs,delivery_delivery_id,delivery_chw_id,delivery_delivery_date_time_submitted,delivery_patient_id,delivery_hh_id,delivery_facility_delivery,delivery_danger_signs_at_delivery,delivery_first_visit_on_time
0,98563c4d81da0e32bb5b0a6b1a6a7789,female,2014-04-01,e78c2a3b3abb122181d5eed0c3f4bafd,filter,yes,yes,no,yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03de60cfccca98f610167b7b3e6407ed,female,1976-03-31,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,af1730d77ea245c7895ff373d04cfd1f,female,2004-04-01,4c486f853d45d1283e304235343630f3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,290c0293f551ca5b5beb1d4134bf24c2,female,1955-04-02,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d10ed585efaf579ca89253dbaf308f7c,male,1951-04-01,abdfde14676cf4be55a831408306904f,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
#BEGIN DATA EXPLORATION
master_df.columns

Index(['person_id', 'sex', 'date_of_birth', 'hh_id', 'how_water_treated',
       'has_mosquito_net', 'latrine', 'hand_washing_facilities', 'electricity',
       'television', 'cupboard', 'dvd', 'radio', 'clock', 'floor', 'walls',
       'roof', 'fuel', 'toilet', 'highest_education_achieved',
       'wealth_quintile', 'assessment_assessment_id', 'assessment_chw_id',
       'assessment_assessment_date_time_submitted', 'assessment_patient_id',
       'assessment_hh_id', 'assessment_patient_age_in_months',
       'assessment_patient_coughs', 'assessment_patient_diarrhea',
       'assessment_patient_fever', 'assessment_danger_signs',
       'assessment_coughing_duration', 'assessment_diarrhea_duration',
       'assessment_fever_duration', 'assessment_patient_temperature',
       'assessment_mrdt_result', 'assessment_mrdt_source',
       'assessment_treatment_follow_up', 'assessment_referral_follow_up',
       'assessment_gave_cough_syrup', 'assessment_gave_amox',
       'assessment_gave_ors', 'assessment_gave_zinc', 'assessment_gave_al',
       'assessment_al_pack', 'assessment_gave_paracetamol',
       'assessment_treat_for_malaria',
       'assessment_follow_up_assessment_follow_up_id',
       'assessment_follow_up_chw_id',
       'assessment_follow_up_assessment_follow_up_date_time_submitted',
       'assessment_follow_up_assessment_id', 'assessment_follow_up_patient_id',
       'assessment_follow_up_hh_id',
       'assessment_follow_up_patient_age_in_months',
       'assessment_follow_up_referral_follow_up_needed',
       'assessment_follow_up_follow_up_count',
       'assessment_follow_up_patient_health_facility_visit',
       'assessment_follow_up_follow_up_type',
       'assessment_follow_up_follow_up_method',
       'assessment_follow_up_danger_signs',
       'assessment_follow_up_patient_improved',
       'assessment_follow_up_patient_better', 'pregnancy_pregnancy_form_id',
       'pregnancy_chw_id', 'pregnancy_date_time_submitted',
       'pregnancy_patient_id', 'pregnancy_hh_id',
       'pregnancy_patient_age_in_years',
       'pregnancy_last_menstrual_period_date', 'pregnancy_expected_due_date',
       'pregnancy_danger_signs', 'pregnancy_risk_factors',
       'pregnancy_visit_pregnancy_visit_form_id', 'pregnancy_visit_chw_id',
       'pregnancy_visit_date_time_submitted', 'pregnancy_visit_patient_id',
       'pregnancy_visit_hh_id', 'pregnancy_visit_how_visit_conducted',
       'pregnancy_visit_referred_to_health_facility',
       'pregnancy_visit_danger_signs', 'delivery_delivery_id',
       'delivery_chw_id', 'delivery_delivery_date_time_submitted',
       'delivery_patient_id', 'delivery_hh_id', 'delivery_facility_delivery',
       'delivery_danger_signs_at_delivery', 'delivery_first_visit_on_time'],
      dtype='object')